<footer>
  <div id="footer-cont">
    <div>
      <a routerLink="/home">
        <img src="assets/images/logo.png" alt="Bio-Logo`">
      </a>
    </div>
    <div>
      <img class="footer-margin" src="assets/images/tel.png" alt="Telefon  Number">
      <a href="#">+420 000 000</a>
    </div>
    <div>
      <img class="footer-margin" src="assets/images/Vector.png" alt="Adress">
      <span>
        <a href="https://en.mapy.cz/zakladni?source=addr&id=8968985&x=14.4099926&y=50.0648753&z=17" target="_blank">Na
          Plzeňce 1166/0 150 00</a>
      </span>

    </div>
  </div>
  <div>
    <p class="text-p-margin">Privacy Policy</p>
  </div>
</footer>