<app-header></app-header>
<div id="error">
  <img src="assets/images/header-bg.png" alt="" id="bgtransparent">
  <div id="bgtransparent"></div>
  <div id="error-bg">
    <div class="error-text">
      <h1 style="margin-top: 300px;">404</h1>
      <h2 style="margin-bottom: 40px;">Woops</h2>
      <p>Oh, you must be lost,there is no such page.</p>
      <div style="margin-top: 30px;">
        <button routerLink="/home">
          Go to the home page
        </button>
      </div>
    </div>
  </div>
</div>