table tr td {
    padding: 20px;
    text-align: center;
}
th {
    text-align: center;
}
* {
    color: white;
    font-size: 20px;
}
button {
    color: black;
    margin: 20px;
}
img {
    width: 100px;
    height: 100px;
}
input {
    color: black;
}
.butt-style{
    padding: 5px  30px;
    border-radius: 30px;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkgrey;
    margin-bottom: 40px
}