<div id="about">
  <div id="about-text">
    <h2>{{this.date[0].title}}</h2>
    <p><strong>BIO CWT</strong> - {{this.date[0].text}}</p>
  </div>
  <div id="info-foto">
    <div id="foto-one" class="info-margin">
      <img src="{{this.date[0].images[0]}}" alt="About US">
    </div>
    <div id="foto-two">
      <img id="aboutt" src="{{this.date[0].images[1]}}" alt="About US">
    </div>
    <div id="foto-three">
      <img src="{{this.date[0].images[2]}}" alt="About US">
    </div>
  </div>
</div>